.header,
.footer {
  padding: .25rem 2rem;
  height: 2.5rem;
  font-size: .8rem;
}

@media (min-width: 768px) {
  .header,
  .footer {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .header,
  .footer {
    padding: 0 4rem;
    height: 4rem;
  }
}

@media (min-width: 1400px) {
  .header,
  .footer {
    height: 5rem;
  }
}

.header {
  background-color: #fa18eb;
}

.footer {
  background-color: #000;
}

.main {
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 1;
  color: #fff;
  background-color: #b388eb;
}

.container,
.navbar,
.navbar-list {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.navbar-list-item,
.navbar-list-link {
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
  align-self: center;
}

.navbar-list-item:first-child {
  display: flex;
  align-content: center;
  align-self: center;
}

.navbar-list-item:first-child::before {
  content: '';
  width: 4.5rem;
  height: 1rem;
  display: inline-flex;
  align-self: center;
  background: url('../images/tindercats-min.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .navbar-list-item:first-child::before {
    width: 6.625rem;
    height: 1.45rem;
    margin-right: 2rem;
    margin-bottom: .35rem;
  }
}

.navbar-list-item:last-child {
  display: inline-flex;
  align-self: center;
}

@media (min-width: 768px) {
  .navbar-list-item:last-child::after {
    content: '';
    width: 1.25rem;
    height: 1.25rem;
    display: inline-flex;
    align-self: center;
    background: url('../images/fingercat.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: .85rem;
  }
}

.navbar-list-link:hover {
  font-weight: 900;
}

.footer-credits {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: 200;
  color: #fff;
  align-self: center;
}

