.loader {
  padding: 3.5rem 2rem 3.625rem;
  margin: 5.5rem 2rem 6.5rem 2rem;
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: .25rem solid #fff;
  animation: load 1s;
}

@keyframes load {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@media (min-width: 768px) {
  .loader {
    margin: 6rem 4rem;
  }
}

@media (min-width: 1024px) {
  .loader {
    margin: 6rem 10rem;
  }
}

@media (min-width: 1200px) {
  .loader {
    margin: 6rem 16rem;
    min-height: 30rem;
  }
}

@media (min-width: 1400px) {
  .loader {
    padding: 4.5rem 4.5rem 5.625rem;
    margin: 10rem 20rem;
  }
}

.loader-message {
  margin-bottom: 2.25rem;
  font-size: 1.5rem;
}

.loader-gif {
  width: 100%;
  height: auto;
  transition: opacity 2.0s ease-in;
  opacity: 1;
  mix-blend-mode: multiply;
}